<!-- aym/control_payments/templates/control_payments/index.html -->
{% extends "control_payments_base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
{{ block.super }}
{% include "control_payments/includes/control-payments-header.html" %}
<div class="row d-flex justify-content-center align-items-center h-300">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <img src="{% static 'digital-payment.png' %}" alt="Control Payments logo" width="300" height="300">
    </div>
</div>
{% endblock %}