<!-- aym/templates/home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
{% include "includes/site-header.html" %}
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <img src="{% static 'logo.jpg' %}" alt="Your Mother logo" class="rounded-circle" width="200" height="200">
    </div>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}