<form action="{% url 'control_payments:resident/input' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" maxlength="11" required>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" maxlength="100" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" maxlength="100" required>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" min="0" max="150" required>
        <label for="discord_nickname">Discord Nickname:</label>
        <input type="text" name="discord_nickname" id="discord_nickname" maxlength="100" required>
    </fieldset>
    <input type="submit" value="Submit">
</form>